<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card-body">
        <div>
          <strong>Username</strong>
          <p>{{user.username | titlecase}}</p>
        </div>
        <div>
            <strong>Department</strong>
            <p>{{user.department}}</p>
        </div>
        <div>
            <strong>Reason For Leave</strong>
            <p>{{user.leaveReason}}</p>
        </div>
        <div>
            <strong>Outstanding Duties</strong>
            <p>{{user.currentOutstandingDuties}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-8">

    </div>
  </div>
</div>
