<div class="container mt-4">
    <div class="row">
        
      <div class="col-sm-4">
        <div class="card-body">
          <div>
            <strong>Username</strong>
            <p>{{user.username | titlecase}}</p>
          </div>
          <div>
              <strong>Department</strong>
              <p>{{user.department}}</p>
          </div>
          <div>
              <strong>Remaining Leave Days</strong>
              <p>{{user.remainingLeaveDays}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
            <!-- <div class="col-sm-">
                <div class="alert alert-info">
                    <strong>Information</strong> You have requested for leave. Any unsubmitted information will be lost!
                </div>
            </div> -->
        <div class="staff-leave">
            <form #leaveForm="ngForm" id="leaveForm" (ngSubmit)="submitLeave()">
                <strong>Reason For Leave</strong>
                <textarea name="leaveReason" rows="1" class="form-control" [(ngModel)]="user.leaveReason"></textarea>
                <strong>Number Of Days</strong>
                <textarea name="numberOfDays" rows="1" class="form-control" [(ngModel)]="user.numberOfDays"></textarea>
                <strong>Date To Commence Leave</strong>
                <textarea name="leaveCommencingDate" rows="1" class="form-control" [(ngModel)]="user.leaveCommencingDate"></textarea>
                <strong>Date To Return</strong>
                <textarea name="returnDate" rows="1" class="form-control" [(ngModel)]="user.returnDate"></textarea>
                <strong>Current Outstsanding Duties</strong>
                <textarea name="currentOutstandingDuties" rows="1" class="form-control" [(ngModel)]="user.currentOutstandingDuties"></textarea>
                <strong>Outstanding Duties Status</strong>
                <textarea name="statusOfCurrentOutstandingDuties" rows="1" class="form-control" [(ngModel)]="user.statusOfCurrentOutstandingDuties"></textarea>
                <strong>Staff To Takeover</strong>
                <textarea name="takeOverEmployee" rows="1" class="form-control" [(ngModel)]="user.takeoverEmployee"></textarea>
                <strong>Takeover Staff Reports To</strong>
                <textarea name="fillInEmployeeReportsTo" rows="1" class="form-control" [(ngModel)]="user.fillInEmployeeReportsTo"></textarea>
                <!-- <label for="leaveReason">Reason for leave</label>
                <input class="form-control" type="text" name="leaveReason" [(ngModel)]="user.leaveReason">
                <label for="numberOfDays">Number of days</label>
                <input class="form-control" type="text" name="numberOfDays" [(ngModel)]="user.numberOfDays"> -->
            </form>   
        </div>
        <div class="card-footer">
            <button [disabled]="!leaveForm.dirty" form="leaveForm" class="btn btn-success btn-block w--100">Submit</button>
        </div>
      </div>
    </div>
  </div>
  

